{% extends 'lil_bro/base.html' %}
{% block title %}Create Secret{% endblock %}
{% block content %}
{% load static %}
<div class="container">
    <div class="row justify-content-center align-items-center">
        <div class="col-lg-5 col-md-8 col-sm-10 col-12 m-5">
            <div class="card">
                <div class="card-body" id="linkContainer">
                    {% if not link%}
                    <p>Your secret was saved</p>
                    {% else %}
                    {{ link }}
                    {% endif %}
                </div>
                <div class="card-footer">
                    {% if link%}
                    <button id="copyButton" type="button" class="btn btn-primary" onclick="copyLink()">Copy link</button>
                    <a href="{% url 'lil_bro:secret_delete' pk %}" class="btn btn-danger">Delete</a>
                    {% endif %}
                    <a href="{% url 'lil_bro:secret_create'%}" class="btn btn-primary">Home</a>
                </div>
            </div>
        </div>
    </div>
</div>

<link rel="stylesheet" href="{% static 'CSS/main_style.css' %}">
<script src="{% static 'JS/copy_link.js' %}"></script>

{% endblock %}
