{% extends 'lil_bro/base.html' %}
{% block title %}How it works{% endblock %}
{% block content %}
<div class="d-flex justify-content-center align-items-center">
    <div class="col-5 m-5">
        <div class="card">
            <div class="card-body">
                <h4> How the service works</h4>
                <p>
                    To enhance security and avoid storing user data in plain text within the database, this project
                    leverages
                    the Amazon Web Services Key Management Service in conjunction with the aws_encryption_sdk
                    library. This service
                    enables the generation and secure storage of an encryption key, which is then employed by the
                    library to encrypt
                    data in a secure manner.
                </p>
                <p>
                    The data is available for viewing via the link only once, then it is permanently deleted. Tip to
                    increase
                    security: Use a passphrase. It can even consist of a single character, but without it, even with
                    a link, it is
                    impossible to get access to the secret.
                </p>
                <h4> How to use the service</h4>
                <p>
                    To create a secret, fill out the form and click on the "Create" button, in response you will receive
                    a link that you can send to the recipient in any convenient way. By clicking on the link, the
                    recipient will see the secret text that you left for him.
                </p>

            </div>
            <div class="card-footer text-center">
                <a href="{% url 'lil_bro:secret_create'%}" class="btn btn-primary">Home</a>
                <br>
                <a href="{% url 'lil_bro:send_report'%}" class="btn">Report a problem</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}