{% extends 'lil_bro/base.html' %}
{% block title %}Delete secret{% endblock %}
{% block content %}
<div class="d-flex justify-content-center align-items-center">
    <div class="col-4 m-5">
        <div class="card">
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    <p>
                        Are you sure you want to delete the secret? This action cannot be undone.
                        If you do not delete it now, it will be automatically deleted after the
                        time that you specified when creating it.
                    </p>
                    <button type="submit" class="btn btn-danger">Confirm</button>
                    <a href="{% url 'lil_bro:secret_create'%}" class="btn btn-primary">Home</a>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}