{% extends 'lil_bro/base.html' %}
{% block title %}How it works{% endblock %}
{% block content %}
<div class="d-flex justify-content-center align-items-center">
    <div class="col-5 m-5">
        <div class="card">
            <div class="card-header text-center">Your secret</div>
            <div class="card-body">
                {{ secret }}
            </div>
            <div class="card-footer text-center">
                <a href="{% url 'lil_bro:secret_create'%}" class="btn btn-primary">Home</a>
                <br>
                <a href="{% url 'lil_bro:send_report'%}" class="btn">Report a problem</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}