{% extends 'lil_bro/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}How it works{% endblock %}

{% block content %}
<div class="container vh-100">
    <div class="d-flex justify-content-center align-items-center">
        <div class="col-12 col-md-8 col-lg-5 m-5">
            <div class="card">
                <div class="card-header text-center">Your secret</div>
                <div class="card-body">
                    {% if model_name == 'secret_retrieve' %}
                        <p>{{ secret }}</p>
                    {% elif model_name == 'secret_list' %}
                        {% if object_list %}
                            <ul>
                                {% for secret in object_list %}
                                    <li>
                                        <p class="encrypted-text" data-encrypted-text="{{ secret.secret_text }}">
                                            {{ secret.secret_text }}
                                        </p>
                                    </li>
                                {% endfor %}
                            </ul>
                        {% else %}
                            <p>No saved secrets found.</p>
                        {% endif %}
                    {% endif %}
                </div>
                <div class="card-footer text-center">
                    <a href="{% url 'lil_bro:secret_create'%}" class="btn btn-primary btn-sm">Home</a>
                    <br>
                    <a href="{% url 'lil_bro:send_report'%}" class="btn btn-link btn-sm">Report a problem</a>
                </div>
            </div>
        </div>
    </div>
</div>

<link rel="stylesheet" href="{% static 'CSS/main_style.css' %}">
{% endblock %}
