{% extends 'lil_bro/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}Create Secret{% endblock %}
{% block content %}
<div class="container vh-100">
    <div class="d-flex justify-content-center align-items-center">
        <div class="col-12 col-md-8 col-lg-5 mt-5">
            <div class="card w-100">
                <div class="card-header">
                    {% if user.is_authenticated %}
                        <div class="d-flex justify-content-between ">
                            <!-- Левая колонка -->
                            <div class="d-flex flex-column align-items-center w-100">
                                <p class="my-auto">Hi, {{ user.username }}. 
                                    <a href="{% url 'lil_bro:saved_secrets'%}" class="btn btn-link btn-sm p-0">Show my saved secrets</a>
                                </p>
                                <a href="{% url 'lil_bro:how_it_works'%}" class="btn btn-light btn-sm mt-2">How it works and how to use the service</a>
                            </div>
                
                            <!-- Правая колонка -->
                            <div class="text-right">
                                <a href="{% url 'users:logout' %}" class="btn btn-link btn-sm p-0">Logout</a>
                                <a href="{% url 'users:delete' user.pk %}" class="btn btn-link btn-sm p-0">Delete account</a>
                            </div>
                        </div>
                    {% else %}
                        <div class="text-center">
                            <p class="mt-2">
                                To create a secret with unlimited lifetime, please 
                                <a href="{% url 'users:register' %}" class="btn btn-link btn-sm p-0">register</a> 
                                or 
                                <a href="{% url 'users:login' %}" class="btn btn-link btn-sm p-0">login</a>.
                                <a href="{% url 'lil_bro:how_it_works'%}" class="btn btn-light btn-sm mt-2">How it works and how to use the service</a>
                            </p>
                        </div>
                    {% endif %}
                </div>
                
                <div class="card-body">
                    <div class="d-flex flex-column justify-content-center align-items-center">
                        <form method="POST" autocomplete="off" class="custom-form">
                            {% csrf_token %}
                            <div class="form-group w-100">
                                {{ form|crispy }}
                            </div>
                            <div class="card-footer text-center">
                                <button type="submit" class="btn btn-primary btn-sm mr-2">Create</button>
                                <br class="d-md-none">
                                <a href="{% url 'lil_bro:send_report'%}" class="btn btn-link btn-sm">Report a problem</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<link rel="stylesheet" href="{% static 'CSS/main_style.css' %}">

{% if user.is_authenticated %}
<script src="{% static 'JS/client_encryption.js' %}"></script>
{% endif %}
{% endblock %}
