{% extends 'lil_bro/base.html' %}
{% block title %}Error Form{% endblock %}
{% block content %}
<div class="d-flex justify-content-center align-items-center">
    <div class="col-5 m-5">
        <div class="card">
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div class="card-footer">
                        <button type="submit">Send message</button>
                        <a href="{% url 'lil_bro:secret_create'%}" class="btn btn-primary">Home</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}