{% extends 'lil_bro/base.html' %}
{% block title %}Create Secret{% endblock %}
{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 mt-5">
            <div class="card w-100">
                <div class="card-header">
                    <a href="{% url 'lil_bro:how_it_works'%}" class="btn btn-light btn-sm">How it works and how to use the service</a>
                </div>
                <div class="card-body">
                    <div class="d-flex flex-column justify-content-center align-items-center">
                        <form method="POST" autocomplete="off" class="custom-form">
                            {% csrf_token %}
                            <div class="form-group w-100">
                                {{ form.as_p }}
                            </div>
                            <div class="card-footer text-center">
                                <button type="submit" class="btn btn-primary btn-sm">Create</button>
                                <br>
                                <a href="{% url 'lil_bro:send_report'%}" class="btn btn-link btn-sm" >Report a problem</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
